<div class="row">
    <div class="xs-col-12">
          <form class="form-horizontal">
              <div class="form-group">
                  <label for="category" class="col-sm-2 control-label">Category</label>
                  <div class="col-sm-10">
                    <select id='category' (change)="onCategoryChange($event)">
                      <option *ngFor="let c of dataService.getExercisesTypeList();let i=index" 
                      value="{{i}}">{{c}}</option>
                    </select> 
                  </div>
                </div>

                <div class="form-group">
                    <label for="exerciseId" class="col-sm-2 control-label">Exercise</label>
                    <div class="col-sm-10">
                      <select id='exerciseId'>
                        <option *ngFor="let c of filteredExercises;" 
                        value="{{c.exerciseId}}">{{c.name}}</option>
                      </select> 
                    </div>
                  </div>


              <div class="form-group">
                <label for="numberOfSets" class="col-sm-2 control-label">Number of sets</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="numberOfSets" placeholder="Number of sets">
                </div>
              </div>

              <div class="form-group">
                  <label for="weight" class="col-sm-2 control-label">Weight</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="weight" placeholder="Weight">
                  </div>
                </div>
  
                <div class="form-group">
                    <label for="speed" class="col-sm-2 control-label">Speed</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="speed" placeholder="Speed">
                    </div>
                  </div>
  

                  <div class="form-group">
                      <label for="level" class="col-sm-2 control-label">Level</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" id="level" placeholder="Level">
                      </div>
                    </div>
    
              <div class="form-group">
                <label for="time" class="col-sm-2 control-label">Time</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="time" placeholder="Time">
                </div>
              </div>


            <div class="form-group">
                <label for="comments" class="col-sm-2 control-label">Comments</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="comment" placeholder="Comments"></textarea>
                </div>
              </div>
  
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                  <button type="reset" class="btn btn-default">Clear</button>
                </div>
              </div>      

          </form>
    </div>
  </div>